body {
    margin: 0;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #212121;
    line-height: 1.6;
    background-color: #e7e7e7;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.section {
    margin: 20px 0;
}

.section__inner{
    background-color: #fff;
    margin-bottom: 20px;
    padding: 10px;
    font-size: 18px;
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .container {
        width: 100%;
        max-width: 280px;
    }
}


@media only screen and (max-width: 330px) {
    .container {
        width: 100%;
        max-width: 250px;
    }
}