body {
    margin: 0;
    
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    color: #212121;
    line-height: 1.6;
    background-color: #e7e7e7;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

button {
    width: 115px;
    height: 40px;
    cursor: pointer;
    font-size: 17px;
    color: white;
    background-color: #ff000069;
    border: 1px #f0baba solid;
    border-radius: 5px;

}

button, 
button:active,
button:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding: 0 30px;
    margin: 0 auto;
}

.header__logo {
    background-color: red;
    color: #ffffff;
    font-size: 25px;
    font-weight:bold;
    text-align: center;
}

.intro {
    margin: 20px 0;
    text-align: center;
}

.section {
    margin: 20px 0;
}

.section__inner {
    background-color: #fff;
    font-size: 20px;
    padding: 10px;
}

.name {
    margin-bottom: 5px;
}

@media only screen and (max-width: 480px) {
    .container {
        width: 100%;
        max-width: 300px;
    }
}

@media only screen and (max-width: 320px) {
    .container {
        width: 100%;
        max-width: 280px;
    }
}
